[include mainsail.cfg]
[include macros.cfg]


[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: !PA7
position_min: -3
position_endstop: -3
position_max: 245
homing_speed: 30.0

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC13
microsteps: 16
rotation_distance: 32
endstop_pin: !PC5
position_min: -10
position_endstop: -10
position_max: 245
homing_speed: 30.0

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC14
microsteps: 16
rotation_distance: 8
endstop_pin: PB2
position_endstop: 0.0
position_max: 250
position_min: -5
homing_speed: 5.0

[stepper_z1]
step_pin: PC0
dir_pin: !PC1
enable_pin: !PC15
microsteps: 16
rotation_distance: 8
endstop_pin: PC6

[extruder]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PA15
microsteps: 16
rotation_distance: 22.207 # 22.6789511
full_steps_per_rotation: 200
gear_ratio: 50:17
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 50.0
max_extrude_only_distance: 500
heater_pin: PA1
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
control = pid
pid_kp = 29.951
pid_ki = 1.767
pid_kd = 126.916
min_temp: 0
max_temp: 260
# 200 - pid_Kp=31.934 pid_Ki=1.953 pid_Kd=130.532
# 195 - pid_Kp=29.951 pid_Ki=1.767 pid_Kd=126.916

[heater_fan extruder_fan]
pin: PB1

[fan]
pin: PA0

[temperature_fan Mainboard]
pin: mcu:PA14
sensor_type: temperature_mcu
max_power: 1.0
shutdown_speed: 1.0
hardware_pwm: false
kick_start_time: 0.5
off_below: 0.4
max_temp: 100
min_temp: 20
target_temp: 50
max_speed: 1.0
min_speed: 0.3
control: pid
pid_Kp: 1
pid_Ki: 1
pid_Kd: 1

[heater_bed]
heater_pin: PA4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB0
control: pid
pid_kp: 68.574
pid_ki: 1.126
pid_kd: 1044.040
min_temp: 0
max_temp: 110

[probe]
pin: !PB12
z_offset: -0.230 # -0.32
speed: 2.0
lift_speed: 5.0
samples: 1
activate_gcode:
    PROBE_RESET

[gcode_macro PROBE_RESET]
gcode:
    SET_PIN PIN=PROBE_RESET_PIN VALUE=0
    G4 P300
    SET_PIN PIN=PROBE_RESET_PIN VALUE=1
    G4 P100

[output_pin PROBE_RESET_PIN]
pin: PB13

[bed_mesh]
speed: 100
horizontal_move_z: 5
mesh_min: 15, 15
mesh_max: 230, 230
probe_count: 7, 7
mesh_pps: 2, 3
algorithm: bicubic

[safe_z_home]
home_xy_position: -3,-7
z_hop: 10


[filament_switch_sensor runout]
pause_on_runout: True
switch_pin: PA5

[output_pin led_pin]
pin: mcu:PA13
pwm: False
value: 0

[output_pin beeper_pin]
pin: PB15
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001

#[input_shaper]
#shaper_freq_x: 86.2
#shaper_type_x: mzv
#shaper_freq_y: 39.6
#shaper_type_y: mzv

[temperature_sensor Raspberry_Pi_3]
sensor_type: temperature_host
min_temp: 0
max_temp: 100


[mcu]
serial: /dev/ttyUSB0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 150
max_accel: 1500            
max_accel_to_decel: 1500 
max_z_velocity: 5
max_z_accel: 100


############################################
# Input Shaper Config
############################################

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    122.5,125,20 

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh bed_mesh_from_macro]
#*# version = 1
#*# points =
#*# 	  -1.995000, -1.922500, -1.995000, -1.882500, -1.810000, -1.810000, -1.430000
#*# 	  -2.020000, -1.865000, -1.952500, -1.800000, -1.755000, -1.510000, -1.450000
#*# 	  -1.862500, -1.927500, -1.892500, -1.767500, -1.727500, -1.495000, -1.365000
#*# 	  -1.792500, -1.750000, -1.872500, -1.730000, -1.707500, -1.500000, -1.392500
#*# 	  -1.780000, -1.707500, -1.855000, -1.752500, -1.742500, -1.542500, -1.462500
#*# 	  -1.717500, -1.730000, -1.802500, -1.717500, -1.737500, -1.570000, -1.532500
#*# 	  -1.645000, -1.692500, -1.825000, -1.750000, -1.800000, -1.667500, -1.630000
#*# tension = 0.2
#*# min_x = 15.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 3
#*# min_y = 15.0
#*# x_count = 7
#*# max_y = 229.98
#*# mesh_x_pps = 2
#*# max_x = 229.97
